html,
body,
#root .App {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  /* display: flex; */
}

body {
  display: flex;
}

#container {
  flex-grow: 1;
  background: blue;
}

#modeler {
  background: red;
  border-left: solid 1px #ccc;
}
